<%- include('layouts/header')%>

<!-- 
<div class="container" style="margin-top: 10%;">

<div class="row">
<div class="col-lg-6 mx-auto mt4">
<div class="card shadow">
    <div class="card-header" style="background-color: rgba(35, 88, 35, 0.37);">
        <h3> Add Animals</h3>
    </div>
    <div class="mb-3">
        <form action="/create" method="'post" id="add-form" enctype="multipart/form-data">
            <div class="mb-3">
        <label style="font-weight: bold;" for="inputanimal" class="col-sm-4 col-form-label">Animals Name</label>
        <div class="col-sm-6">
        <input  type="text" class="form-control"  name="name" required>
        </div>
    </div>
    <div class="mb-3">
        <label style="font-weight: bold;" for="inputanimal" class="col-sm-4 col-form-label">Age</label>
        <div class="col-sm-6">
        <input  type="number" class="form-control" name="age" required>
        </div>
    </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Upload Image</label>
            <div class="col-sm-6">
            <input class="form-control"  name="image" value="file" type="file" id="formFile" >
        </div>
          </div>  
          <button type="submit" name="submit"  style="background-color: rgba(35, 88, 35, 0.37);color: black; "class="btn btn-md">ADD TO THE DATABASE</button>                                                                                              
    </form>
    </div>

</div> -->
<form action="/create" method="post" enctype="multipart/form-data">

    <input type="text" name="name">
    <input type="number" name="age">
    <input type="file" name="image">
    <input type="submit">
</form>


<!-- </div> -->